{% extends 'base.html' %}

{% block content %}
    <h3> score table v2</h3>
<br>
<table>
  <tr>
      <td align="right">Место</td>
      <td align="right">Очки</td>
      <td align="right">Деньги</td>
      <td align="left">Никнейм</td>
                      {% for gm in v_games %}
      <td class="td_clear">
  {#    <td align="center">{{gm.}}   #}
      <div class="block_wrapper">
      <div class="block_matchHead">
      {{gm.dateStart|date:"d M"}} {{gm.dateStart|time:"H:i"}}</div>
      <div class="block_matchBody">
                {% if gm.baseHomeScore is None or gm.baseGuestScore is None %}
                <div>
          {% elif gm.baseHomeScore > gm.baseGuestScore %}
                <div class="blockHomeWin">
          {% elif gm.baseHomeScore < gm.baseGuestScore %}
                <div class="blockGuestWin">
          {% else %}
                <div class="blockNoneWin">
          {% endif %}
      <b><font color="#ff8000">{{gm.teamHome.shortName}}</font>&nbsp;vs.&nbsp;<font color="#0000ff">{{gm.teamGuest.shortName}}</font></b><br>
          {{gm.baseHomeScore}}:{{gm.baseGuestScore}}
                    <div>
      </div>
      </div>
      </div>
                </td>
      {% endfor %}
  </tr>
{% for player in v_bets %}
    <tr>
        {% for bet in player|slice:":4" %}
        <td align="center">
            {{bet}}
         </td>
        {% endfor %}
        {# а теперь двигательный блок #}
                {% for bet, dsgn in player|slice:"4:" %}
        {% if dsgn == "Hmm" %}
            <td>
        {% elif dsgn == "Home"  %}
            <td class="blockHomeWin">
        {% elif dsgn == "Guest"  %}
            <td class="blockGuestWin">
        {% elif dsgn == "Draw"  %}
            <td class="blockNoneWin">
        {% else %}
            <td>
        {% endif %}
            {{bet}}
         </td>
        {% endfor %}

    </tr>
{% endfor %}

 </table>
{% endblock %}