.btn-group button {
    background-color: white;
    border: 1px solid #ddd;
    color: gray; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #f2f2f2;
}

    table {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #ddd;
    }

    th, td {
        text-align: center;
        padding: 16px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
}

.blockHomeWin{
background: linear-gradient(to right, #FFEBCD 15%, #FFFFFF, #FFFFFF);
background-clip: border-box;
-webkit-border-vertical-spacing: 1px;
border: 1px solid #ddd;
padding: 16px;
}

.blockGuestWin{
background: linear-gradient(to left, #E6E6FA 15%, #FFFFFF, #FFFFFF);
border: 1px solid #ddd;
padding: 16px;
}

.blockNoneWin{
background: linear-gradient(to top, #f2f2f2 15%, #FFFFFF, #FFFFFF);
border: 1px solid #ddd;
padding: 16px;
}

.txt-scores{
/*    font-family: 'Inconsolata', monospace; */
    text-align: center;
    height:19px;
    padding: 0px;
    vertical-align: middle;
}

.block_l{
    display: table-cell;
    min-width:100px;
    th, td {
        padding: 10px;
    }
    }
.block_r{
    float: right;
    margin: 20px;
    th, td {
        padding: 10px;
    }
    }
.block_clear{
    clear: both;
    }

.block_table{
display:inline-block;
width:100%;
}
.table_strong{
    height:18px;
}

.table_head{
    height:19px;
    padding: 0px;
    vertical-align: middle;
}

.block_matchHead{
width:100%;
        background: #2c2c2c;
        color: #fff;
        font-size: 17px;
        font-family: 'Inconsolata', monospace;
        font-weight: bold;
        padding: 0px;
}
.block_matchBody{
width:100%;
}
.block_wrapper{
width:100%;
}
.td_clear{
padding: 0px;}